#container {
	margin: 10px;
	width: 250px;
	min-height: 100px;
	font-family: tahoma,verdana,arial;
	font-size: 11px;
}
 
.tagselector_container {
	position: relative;
    min-height: 23px;
	border: solid 1px #ccc;
	cursor: text;
    padding: 1px;
    -webkit-transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.tagselector_container.focused {
    border-color: #aaa;
    outline: 0;
}

.tagselector_autocomplete {
	border: solid 1px #ddd;
    background-color: #fff;
}

ul.tagselector_autocomplete_list {
	list-style: none;
	padding: 0;
	margin: 0;
}

ul.tagselector_autocomplete_list li {
	line-height: 18px;
	padding: 1px 0 1px 10px;
}

ul.tagselector_autocomplete_list li.selected-tag {
	background-color: #f0f0f0;
}

ul.tagselector_autocomplete_list li:hover {
	background-color: #efefef;
	cursor: pointer;
}

.tagselector_container .tag {
	display: inline-block;
    border: solid 1px #c1c1c1;
    border-radius: 3px;
    margin: 1px;
    padding: 2px 5px;
    cursor: pointer;
}

.tagselector_container .tag:hover {
	text-decoration: line-through;
}
 
.tagselector_container .tag_enter {
	display: inline-block;
    padding-top: 2px;
}
 
.tagselector_container .tag_enter .tag_input {
	padding: 3px 5px;
	border: none;
	outline: none;
	font-family: tahoma,verdana,arial;
	font-size: 11px;
}

.unsel {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
}